
body {
    padding: 0px;
    margin: 0px;

}


.section1, footer {
    background-color: #1f2937;
}


.content1, .content2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 64px; 
    padding-left: 300px;
    padding-right: 200px;
}

.ul1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    list-style-type: none;

}

a {
    text-decoration: none;
}

.text1, .main {
    color: #f9faf8;
    font-size: 24px;
}

.text, .text2, footer {
    color: #e5e7eb;
    font-size: 18px;
}

.footer {
    text-align: center;
}

.text2{
    max-width: 400px
}

.main {
    font-size: 48px;
    font-weight: 1000;
    width: 300px;
}

.place1 {
    background-color: grey;
    border-radius: 0px;
    padding: 100px;
    width: 500px;
    margin-right: 100px;
    text-align: center;
}


/*section2*/

.section2 {
    padding: 8px;
    padding-bottom: 64px;
}

.ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    list-style-type: none;
}

.word {
    text-align: center;
    font-size: 36px;
    font-weight: 1000px;
    color: #1f2937;
    padding: 16px;

}

.img {
    border: 3px solid #3882F6;
    padding: 24px;
    width: 100px;
    height: 100px;
    border-radius: 25px;
}

.word1 {
    width: 150px;
    text-align: center;
    margin-right: 200px;
}

/*section 3*/

.section3 {
    background-color: #E5E7Eb;
    padding: 150px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
}

.author {
    text-align: end;
    font-weight: 900;
    
}

.container {
    max-width: 1000px;
    margin-left: 300px;
}

/*section 4*/

.section4 {
    padding: 100px;
}

.blue{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;

    padding: 90px;
    margin-left: 300px;
    background-color: #3882F6;
    border-radius: 16px;
}

.content3 {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.para {
    font-size: 18px;
    color: #E5E7Eb;
}



